

<header>
    <h2>Modifier un Participant</h2>
</header>

<form #participantItemForm="ngForm" (ngSubmit)="editParticipant(participantItemForm.value)">

    <ul>


        <li>
            <label for=" firstname ">Nom de Participant</label>
            <input type="text" name="firstName" id="firstName" [(ngModel)]="participant.firstName"
                   required>
        </li>


        <li>
            <label for=" lastName ">Prenom de Participant</label>
            <input type="text" name="lastName" id="lastName"
                   [(ngModel)]="participant.lastName" required>
        </li>

        <li>
            <label for=" addresse ">Adresse de Participant</label>
            <input type="text" name="addresse" id="addresse"
                   [(ngModel)]="participant.addresse" required>
        </li>

        <li>
            <label for=" mail ">E-mail de Participant</label>
            <input type="email" name="mail" id="mail" [(ngModel)]="participant.mail"
                   required>
        </li>

        <li>
            <label for=" company ">Societe de Participant</label>
            <input type="text" name="company" id="company"
                   [(ngModel)]="participant.company" required>
        </li>


        <li>
            <label for=" position ">Poste de Participant</label>
            <input type="text" name="position" id="position" [(ngModel)]="participant.position"
                   required>
        </li>

    </ul>
    <button type="submit" [disabled]="!participantItemForm.form.valid">Modifier</button>
</form>