<body class="body">
<header>
    <h2>Ajouter un formateur</h2>
</header>
<form #formateurItemForm="ngForm" (ngSubmit)="addSession(formateurItemForm.value)">


    <ul>
        <li>
            <label for=" firstName ">Nom de formateur</label>
            <input type="text" name="lastName" id="lastName" ngModel required>
        </li>


        <li>
            <label for=" lastName ">Prénom de formateur</label>
            <input type="text" name="firstName" id="firstName" ngModel required>
        </li>

        <li>
            <label for=" addresse ">Adresse de formateur</label>
            <input type="text" name="addresse" id="addresse" ngModel >
        </li>

        <li>
            <label for=" mail ">E-mail de formateur</label>
            <input type="email" name="mail" id="mail" ngModel required>
        </li>

        <li>
            <label for=" field ">Domaine d'expertise</label>
            <input type="text" name="field" id="field" ngModel required>
        </li>


    </ul>

    <button type="submit" [disabled]="!formateurItemForm.form.valid">Enregistrer</button>
</form>
</body>