<header>
    <h2>Modifier un formateur</h2>
</header>

<form #formateurItemForm="ngForm" (ngSubmit)="editSession(formateurItemForm.value)">

    <ul>
        <li>
            <label for="firstName">Nom de formateur</label>
            <input type="text" name="firstName" id="firstName" [(ngModel)]="formateur.firstName" required>
        </li>


        <li>
            <label for="lastName">Prenom de formateur</label>
            <input type="text" name="lastName" id="lastName" [(ngModel)]="formateur.lastName"
                   required>
        </li>

        <li>
            <label for=" adresse ">Adresse de formateur</label>
            <input type="text" name="adresse" id="adresse" [(ngModel)]="formateur.addresse"
                   required>
        </li>

        <li>
            <label for=" mail ">E-mail de formateur</label>
            <input type="email" name="mail" id="mail" [(ngModel)]="formateur.mail"
                   required>
        </li>

        <li>
            <label for=" field ">Domaine d'expertise</label>
            <input type="text" name="field" id="field" [(ngModel)]="formateur.field"
                   required>
        </li>


    </ul>
    <button type="submit" [disabled]="!formateurItemForm.form.valid">Modifier</button>
</form>