<div class="dashboard_header">
    <div class="dashboard-cards dashboard_sessions">
        <div class="image">
            <img src="assets/sessions.png">
        </div>

        <div class="info">
            <p class="info_stats">{{ sessionItems.length }}</p>
            <p class="info_domain">Sessions</p>
        </div>
    </div>
    <div class="dashboard-cards dashboard_participants">
        <div class="image">
            <img src="assets/participants.png">
        </div>
        <div class="info">
            <p class="info_stats">{{ participantItems.length }}</p>
            <p class="info_domain">Participants</p>

        </div>
    </div>
    <div class="dashboard-cards dashboard_formateurs">
        <div class="image">
            <img src="assets/formateurs.png">
        </div>

        <div class="info">
            <p class="info_stats">{{ formateurItems.length }}</p>
            <p class="info_domain">Formateurs</p>

        </div>
    </div>
</div>

<div class="dashboard_content">
    <div class="trak_table">
        <table >
            <thead>
            <tr>
                <th >track</th>
                <th >Session</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of sessiontracingTable">
                <td>
                    {{row['track_name']}}
                </td>
                <td>
                    {{row['track_session']}}
                </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="trak_table" style="margin-left: 20%;">
        <table>
            <thead>
                <tr>
                    <th>Top Formateurs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of formateurItems">
                    <td>
                        {{row.firstName }} {{row.lastName }}
                    </td>
               
                </tr>
        
            </tbody>
        </table>
    </div>
</div>
